body {
  background: $background-color;
  margin: 0 auto;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
}

$sidemenu-color: rgba(255, 244, 244, 0.7);



$small: (0px, 500px);
$medium: (600px, 800px);
$big: (800px, 1000px);


