// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
button{
	text-align: center;
	color:white;
	background-color: $ui-normal;
	border: none;
	padding:0;
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: #eee;
    border-color: #eee;
    color: #fff;
    cursor: not-allowed;
}
