// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------


$sidemenu-color: rgba(255, 244, 244, 0.7);



$small: (0px, 500px);
$medium: (600px, 800px);
$big: (800px, 1000px);


body {
  background: #c64c4c;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
}

.main{
	display: flex;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    .menu{
    	align-self: flex-start;
    }
}


.close{
  > .menuBtn {
    display:block;
    padding: 20px;
  }
  .search{
    display:none;
  }
  .closeBtn{
  	display:none;
  }
}

.open{
  height:100%;
  width:250px;
  position:fixed;
  z-index: 1;
  top:0;
  left:0;
  background-color: $sidemenu-color;
  overflow-x:hidden;
  transition:0.5s;

  .closeBtn{
    display: block;
    color: black;
    font-size: 30px;
    position: absolute;
    left: 220px;
    right: 0px;
  }

  >.menuBtn{
    display: none;
  }
  .search{
    form{
      font-size:20px;
      margin: 20px 10px;
      color:black;
      span{
        color:black;
      }
      input{
       border: azure;
        margin: 15px 0px;
        font-style: italic;
        background: transparent;
        border-bottom: 1px solid #b11919;
        font-size: 15px;
      }
      ul{
        font-size: 15px;
        font-style: italic;
      }
    }
  }


}

.weather{

    .weatherList{
      width:auto;
      display: flex;
      flex-direction:column;
      @include respond-to('medium') {
	    flex-direction:row;
	  }
      .weatherItem{
        line-height:50px;
        color:white;
        font-size: 20px;
        text-align: center;
        width: 125px;
        .wi{
        	font-size: 30px;
        }
        .temp{
        	span:first-child{
        		font-size: 25px;
    			padding-right: 10%;
        	}
        	span:nth-child(2){
        		color: #ffffff6b;
        	}
        }
        .date{
    		color: #ffffff6b;
        }
        .state{
			font-size: 17px;
			color: #ffffff6b;
        }
        &:first-child{
        	.wi{
				font-size:100px;
        	}
        };
      }
    }
}
