// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

// theme is too simple to splite at this moment
.theme0{
  background: #c64c4c;
}
.theme1{
  background: #78D599;
}
.theme2{
  background: #3F3FB8;
}
.theme3{
  background: #2A3C56;
}
.theme4{
  background: #F19A35;
}
.theme5{
  background: #442E3F;
}
.theme6{
  background: #FB6C4D;
}
.theme7{
  background: #632233;
}
.theme8{
  background: #264530;
}
