.all_header {
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position-x: 50%;
    background-position-y: 0px;
	background-size: cover;
	width: 100vw;
	// max-width: 1440px;
	margin: 0 auto;
	height: 100vh;
}
