@font-face {
  font-family: 'chanson';
  src:  fonts3('chanson.eot?fucrtc');
  src:  fonts3('chanson.eot?fucrtc#iefix') format('embedded-opentype'),
        fonts3('chanson.ttf?fucrtc') format('truetype'),
        fonts3('chanson.woff?fucrtc') format('woff'),
        fonts3('chanson.svg?fucrtc#chanson') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'chanson' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-brand:before {
  content: "\eaec";
  color: #0099e5;
}
.icon-brand2:before {
  content: "\eaed";
  color: #044a75;
}
.icon-brand3:before {
  content: "\eaee";
  color: #0085ca;
}
.icon-brand4:before {
  content: "\eaef";
  color: #ff2d55;
}
.icon-brand5:before {
  content: "\eaf0";
  color: #ff5a5f;
}
.icon-brand6:before {
  content: "\eaf1";
  color: #f90;
}
.icon-brand7:before {
  content: "\eaf2";
  color: #2e77bc;
}
.icon-brand8:before {
  content: "\eaf3";
  color: #a4c639;
}
.icon-brand9:before {
  content: "\eaf4";
  color: #999;
}
.icon-brand10:before {
  content: "\eaf5";
}
.icon-brand11:before {
  content: "\eaf6";
}
.icon-brand12:before {
  content: "\eaf7";
  color: #eb5424;
}
.icon-brand13:before {
  content: "\eaf8";
  color: #7d8084;
}
.icon-brand14:before {
  content: "\eaf9";
  color: #2319dc;
}
.icon-brand15:before {
  content: "\eafa";
  color: #408294;
}
.icon-brand16:before {
  content: "\eafb";
  color: #6c6;
}
.icon-brand17:before {
  content: "\eafc";
  color: #00a3e0;
}
.icon-brand18:before {
  content: "\eafd";
  color: #de484a;
}
.icon-brand19:before {
  content: "\eafe";
  color: #1769ff;
}
.icon-brand20:before {
  content: "\eaff";
}
.icon-brand21:before {
  content: "\eb00";
  color: #008373;
}
.icon-brand22:before {
  content: "\eb01";
  color: #205081;
}
.icon-brand23:before {
  content: "\eb02";
  color: #f7931a;
}
.icon-brand24:before {
  content: "\eb03";
  color: #ee6123;
}
.icon-brand25:before {
  content: "\eb04";
  color: #f38936;
}
.icon-brand26:before {
  content: "\eb05";
  color: #563d7c;
}
.icon-brand27:before {
  content: "\eb06";
  color: #0aa0ff;
}
.icon-brand28:before {
  content: "\eb07";
}
.icon-brand29:before {
  content: "\eb08";
  color: #e32;
}
.icon-brand30:before {
  content: "\eb09";
  color: #d33c43;
}
.icon-brand31:before {
  content: "\eb0a";
  color: #19a9e5;
}
.icon-brand32:before {
  content: "\eb0b";
}
.icon-brand33:before {
  content: "\eb0c";
  color: #204056;
}
.icon-brand34:before {
  content: "\eb0d";
  color: #1f8acb;
}
.icon-brand35:before {
  content: "\eb0e";
}
.icon-brand36:before {
  content: "\eb0f";
}
.icon-brand37:before {
  content: "\eb10";
  color: #3e8dcc;
}
.icon-brand38:before {
  content: "\eb11";
  color: #4cadc0;
}
.icon-brand39:before {
  content: "\eb12";
  color: #4574e0;
}
.icon-brand40:before {
  content: "\eb13";
  color: #00aaef;
}
.icon-brand41:before {
  content: "\eb14";
  color: #414959;
}
.icon-brand42:before {
  content: "\eb15";
  color: #00a1cc;
}
.icon-brand43:before {
  content: "\eb16";
  color: #757575;
}
.icon-brand44:before {
  content: "\eb17";
  color: #1572b6;
}
.icon-brand45:before {
  content: "\eb18";
  color: #f43059;
}
.icon-brand46:before {
  content: "\eb19";
  color: #0066dc;
}
.icon-brand47:before {
  content: "\eb1a";
  color: #00c7f2;
}
.icon-brand48:before {
  content: "\eb1b";
  color: #39f;
}
.icon-brand49:before {
  content: "\eb1c";
  color: #2d72d9;
}
.icon-brand50:before {
  content: "\eb1d";
  color: #05cc47;
}
.icon-brand51:before {
  content: "\eb1e";
}
.icon-brand52:before {
  content: "\eb1f";
}
.icon-brand53:before {
  content: "\eb20";
  color: #0080ff;
}
.icon-brand54:before {
  content: "\eb21";
  color: #7289da;
}
.icon-brand55:before {
  content: "\eb22";
  color: #ff6000;
}
.icon-brand56:before {
  content: "\eb23";
  color: #2e9fff;
}
.icon-brand57:before {
  content: "\eb24";
  color: #1488c6;
}
.icon-brand58:before {
  content: "\eb25";
  color: #f60;
}
.icon-brand59:before {
  content: "\eb26";
  color: #ea4c89;
}
.icon-brand60:before {
  content: "\eb27";
  color: #007ee5;
}
.icon-brand61:before {
  content: "\eb28";
  color: #0678be;
}
.icon-brand62:before {
  content: "\eb29";
  color: #e53238;
}
.icon-brand63:before {
  content: "\eb2a";
}
.icon-brand64:before {
  content: "\eb2b";
  color: #72be50;
}
.icon-brand65:before {
  content: "\eb2c";
}
.icon-brand66:before {
  content: "\eb2d";
  color: #f45800;
}
.icon-brand67:before {
  content: "\eb2e";
  color: #f6682f;
}
.icon-brand68:before {
  content: "\eb2f";
  color: #5ab552;
}
.icon-brand69:before {
  content: "\eb30";
  color: #2dbe60;
}
.icon-brand70:before {
  content: "\eb31";
  color: #fa4b32;
}
.icon-brand71:before {
  content: "\eb32";
  color: #3b5998;
}
.icon-brand72:before {
  content: "\eb33";
  color: #6cc655;
}
.icon-brand73:before {
  content: "\eb34";
  color: #00b0b9;
}
.icon-brand74:before {
  content: "\eb35";
  color: #0063dc;
}
.icon-brand75:before {
  content: "\eb36";
  color: #e12828;
}
.icon-brand76:before {
  content: "\eb37";
  color: #f94877;
}
.icon-brand77:before {
  content: "\eb38";
  color: #060;
}
.icon-brand78:before {
  content: "\eb39";
  color: #007cc3;
}
.icon-brand79:before {
  content: "\eb3a";
  color: #396;
}
.icon-brand80:before {
  content: "\eb3b";
  color: #8cc63f;
}
.icon-brand81:before {
  content: "\eb3c";
  color: #467126;
}
.icon-brand82:before {
  content: "\eb3d";
  color: #718087;
}
.icon-brand83:before {
  content: "\eb3e";
  color: #f14e32;
}
.icon-brand84:before {
  content: "\eb3f";
}
.icon-brand85:before {
  content: "\eb40";
  color: #e24329;
}
.icon-brand86:before {
  content: "\eb41";
  color: #ff0064;
}
.icon-brand87:before {
  content: "\eb42";
  color: #7cb228;
}
.icon-brand88:before {
  content: "\eb43";
  color: #d14836;
}
.icon-brand89:before {
  content: "\eb44";
  color: #fbbf00;
}
.icon-brand90:before {
  content: "\eb45";
  color: #630;
}
.icon-brand91:before {
  content: "\eb46";
  color: #4285f4;
}
.icon-brand92:before {
  content: "\eb47";
  color: #ffc107;
}
.icon-brand93:before {
  content: "\eb48";
  color: #4386fc;
}
.icon-brand94:before {
  content: "\eb49";
  color: #0c9d58;
}
.icon-brand95:before {
  content: "\eb4a";
  color: #607d8b;
}
.icon-brand96:before {
  content: "\eb4b";
  color: #dc4e41;
}
.icon-brand97:before {
  content: "\eb4c";
  color: #005ea5;
}
.icon-brand98:before {
  content: "\eb4d";
  color: #630;
}
.icon-brand99:before {
  content: "\eb4e";
}
.icon-brand100:before {
  content: "\eb4f";
  color: #1e8cbe;
}
.icon-brand101:before {
  content: "\eb50";
  color: #da4648;
}
.icon-brand102:before {
  content: "\eb51";
  color: #72ef36;
}
.icon-brand103:before {
  content: "\eb52";
  color: #2ec866;
}
.icon-brand104:before {
  content: "\eb53";
  color: #1bacf7;
}
.icon-brand105:before {
  content: "\eb54";
  color: #00a4de;
}
.icon-brand106:before {
  content: "\eb55";
  color: #430098;
}
.icon-brand107:before {
  content: "\eb56";
  color: #205281;
}
.icon-brand108:before {
  content: "\eb57";
}
.icon-brand109:before {
  content: "\eb58";
  color: #7ac142;
}
.icon-brand110:before {
  content: "\eb59";
  color: #e34f26;
}
.icon-brand111:before {
  content: "\eb5a";
  color: #6a3;
}
.icon-brand112:before {
  content: "\eb5b";
  color: #0071ce;
}
.icon-brand113:before {
  content: "\eb5c";
  color: #e6b91e;
}
.icon-brand114:before {
  content: "\eb5d";
  color: #43b02a;
}
.icon-brand115:before {
  content: "\eb5e";
  color: #e4405f;
}
.icon-brand116:before {
  content: "\eb5f";
}
.icon-brand117:before {
  content: "\eb60";
  color: #1f8ded;
}
.icon-brand118:before {
  content: "\eb61";
  color: #f36;
}
.icon-brand119:before {
  content: "\eb62";
  color: #f7df1e;
}
.icon-brand120:before {
  content: "\eb63";
  color: #c00;
}
.icon-brand121:before {
  content: "\eb64";
  color: #d24939;
}
.icon-brand122:before {
  content: "\eb65";
}
.icon-brand123:before {
  content: "\eb66";
  color: #5091cd;
}
.icon-brand124:before {
  content: "\eb67";
  color: #4679a4;
}
.icon-brand125:before {
  content: "\eb68";
}
.icon-brand126:before {
  content: "\eb69";
  color: #ad29b6;
}
.icon-brand127:before {
  content: "\eb6a";
  color: #20beff;
}
.icon-brand128:before {
  content: "\eb6b";
  color: #9db63b;
}
.icon-brand129:before {
  content: "\eb6c";
  color: #2bde73;
}
.icon-brand130:before {
  content: "\eb6d";
  color: #82bc23;
}
.icon-brand131:before {
  content: "\eb6e";
  color: #ff0100;
}
.icon-brand132:before {
  content: "\eb6f";
  color: #e44600;
}
.icon-brand133:before {
  content: "\eb70";
  color: #00b057;
}
.icon-brand134:before {
  content: "\eb71";
  color: #3c80ca;
}
.icon-brand135:before {
  content: "\eb72";
  color: #e74430;
}
.icon-brand136:before {
  content: "\eb73";
  color: #d51007;
}
.icon-brand137:before {
  content: "\eb74";
  color: #f8c300;
}
.icon-brand138:before {
  content: "\eb75";
  color: #00c300;
}
.icon-brand139:before {
  content: "\eb76";
  color: #0077b5;
}
.icon-brand140:before {
  content: "\eb77";
  color: #009bee;
}
.icon-brand141:before {
  content: "\eb78";
  color: #00b0ea;
}
.icon-brand142:before {
  content: "\eb79";
  color: #cf202e;
}
.icon-brand143:before {
  content: "\eb7a";
  color: #e11a2b;
}
.icon-brand144:before {
  content: "\eb7b";
  color: #ee672f;
}
.icon-brand145:before {
  content: "\eb7c";
  color: #2c9ab7;
}
.icon-brand146:before {
  content: "\eb7d";
  color: #ff1e0d;
}
.icon-brand147:before {
  content: "\eb7e";
  color: #eb001b;
}
.icon-brand148:before {
  content: "\eb7f";
}
.icon-brand149:before {
  content: "\eb80";
}
.icon-brand150:before {
  content: "\eb81";
  color: #00ab6b;
}
.icon-brand151:before {
  content: "\eb82";
  color: #e2373c;
}
.icon-brand152:before {
  content: "\eb83";
  color: #0084ff;
}
.icon-brand153:before {
  content: "\eb84";
  color: #f00;
}
.icon-brand154:before {
  content: "\eb85";
  color: #666;
}
.icon-brand155:before {
  content: "\eb86";
  color: #ba141a;
}
.icon-brand156:before {
  content: "\eb87";
  color: #217346;
}
.icon-brand157:before {
  content: "\eb88";
  color: #80397b;
}
.icon-brand158:before {
  content: "\eb89";
  color: #0072c6;
}
.icon-brand159:before {
  content: "\eb8a";
  color: #d24726;
}
.icon-brand160:before {
  content: "\eb8b";
  color: #2b579a;
}
.icon-brand161:before {
  content: "\eb8c";
  color: #62b74a;
}
.icon-brand162:before {
  content: "\eb8d";
  color: #3abfe6;
}
.icon-brand163:before {
  content: "\eb8e";
  color: #314359;
}
.icon-brand164:before {
  content: "\eb8f";
  color: #f60;
}
.icon-brand165:before {
  content: "\eb90";
  color: #ffc619;
}
.icon-brand166:before {
  content: "\eb91";
  color: #fdb22a;
}
.icon-brand167:before {
  content: "\eb92";
  color: #00945e;
}
.icon-brand168:before {
  content: "\eb93";
}
.icon-brand169:before {
  content: "\eb94";
  color: #e50914;
}
.icon-brand170:before {
  content: "\eb95";
  color: #8f8f8f;
}
.icon-brand171:before {
  content: "\eb96";
}
.icon-brand172:before {
  content: "\eb97";
}
.icon-brand173:before {
  content: "\eb98";
  color: #f4731c;
}
.icon-brand174:before {
  content: "\eb99";
  color: #094ab2;
}
.icon-brand175:before {
  content: "\eb9a";
  color: #ff1b2d;
}
.icon-brand176:before {
  content: "\eb9b";
  color: #f56c2d;
}
.icon-brand177:before {
  content: "\eb9c";
  color: #fc7e0f;
}
.icon-brand178:before {
  content: "\eb9d";
  color: #123f6d;
}
.icon-brand179:before {
  content: "\eb9e";
}
.icon-brand180:before {
  content: "\eb9f";
  color: #e6461a;
}
.icon-brand181:before {
  content: "\eba0";
  color: #00457c;
}
.icon-brand182:before {
  content: "\eba1";
  color: #40a4c4;
}
.icon-brand183:before {
  content: "\eba2";
}
.icon-brand184:before {
  content: "\eba3";
  color: #fff000;
}
.icon-brand185:before {
  content: "\eba4";
  color: #00b1ab;
}
.icon-brand186:before {
  content: "\eba5";
  color: #bd081c;
}
.icon-brand187:before {
  content: "\eba6";
  color: #0085de;
}
.icon-brand188:before {
  content: "\eba7";
  color: #c0379a;
}
.icon-brand189:before {
  content: "\eba8";
  color: #039;
}
.icon-brand190:before {
  content: "\eba9";
  color: #e9443d;
}
.icon-brand191:before {
  content: "\ebaa";
  color: #ef3f56;
}
.icon-brand192:before {
  content: "\ebab";
  color: #93c;
}
.icon-brand193:before {
  content: "\ebac";
  color: #ef145f;
}
.icon-brand194:before {
  content: "\ebad";
  color: #da552f;
}
.icon-brand195:before {
  content: "\ebae";
  color: #34a7c1;
}
.icon-brand196:before {
  content: "\ebaf";
  color: #9497ce;
}
.icon-brand197:before {
  content: "\ebb0";
  color: #c50000;
}
.icon-brand198:before {
  content: "\ebb1";
  color: #b92b27;
}
.icon-brand199:before {
  content: "\ebb2";
  color: #c7053d;
}
.icon-brand200:before {
  content: "\ebb3";
  color: #008fd5;
}
.icon-brand201:before {
  content: "\ebb4";
  color: #00d8ff;
}
.icon-brand202:before {
  content: "\ebb5";
  color: #900;
}
.icon-brand203:before {
  content: "\ebb6";
  color: #8ca1af;
}
.icon-brand204:before {
  content: "\ebb7";
  color: #ff4500;
}
.icon-brand205:before {
  content: "\ebb8";
  color: #e43526;
}
.icon-brand206:before {
  content: "\ebb9";
  color: #ffa500;
}
.icon-brand207:before {
  content: "\ebba";
  color: #cc342d;
}
.icon-brand208:before {
  content: "\ebbb";
  color: #2dc9d7;
}
.icon-brand209:before {
  content: "\ebbc";
  color: #c69;
}
.icon-brand210:before {
  content: "\ebbd";
  color: #ec4047;
}
.icon-brand211:before {
  content: "\ebbe";
  color: #1a7bba;
}
.icon-brand212:before {
  content: "\ebbf";
  color: #0089cf;
}
.icon-brand213:before {
  content: "\ebc0";
  color: #21b352;
}
.icon-brand214:before {
  content: "\ebc1";
}
.icon-brand215:before {
  content: "\ebc2";
  color: #fb4226;
}
.icon-brand216:before {
  content: "\ebc3";
  color: #e7282d;
}
.icon-brand217:before {
  content: "\ebc4";
  color: #7ab55c;
}
.icon-brand218:before {
  content: "\ebc5";
}
.icon-brand219:before {
  content: "\ebc6";
  color: #e6162d;
}
.icon-brand220:before {
  content: "\ebc7";
  color: #258aaf;
}
.icon-brand221:before {
  content: "\ebc8";
  color: #2fcea0;
}
.icon-brand222:before {
  content: "\ebc9";
  color: #00aff0;
}
.icon-brand223:before {
  content: "\ebca";
  color: #56b68b;
}
.icon-brand224:before {
  content: "\ebcb";
  color: #026664;
}
.icon-brand225:before {
  content: "\ebcc";
  color: #e4637c;
}
.icon-brand226:before {
  content: "\ebcd";
  color: #e85c33;
}
.icon-brand227:before {
  content: "\ebce";
  color: #fffc00;
}
.icon-brand228:before {
  content: "\ebcf";
  color: #f80046;
}
.icon-brand229:before {
  content: "\ebd0";
  color: #f30;
}
.icon-brand230:before {
  content: "\ebd1";
  color: #fa6423;
}
.icon-brand231:before {
  content: "\ebd2";
  color: #396;
}
.icon-brand232:before {
  content: "\ebd3";
  color: #1ed760;
}
.icon-brand233:before {
  content: "\ebd4";
  color: #352a71;
}
.icon-brand234:before {
  content: "\ebd5";
  color: #f5c300;
}
.icon-brand235:before {
  content: "\ebd6";
}
.icon-brand236:before {
  content: "\ebd7";
  color: #1e5397;
}
.icon-brand237:before {
  content: "\ebd8";
  color: #fe7a16;
}
.icon-brand238:before {
  content: "\ebd9";
}
.icon-brand239:before {
  content: "\ebda";
}
.icon-brand240:before {
  content: "\ebdb";
  color: #4ba2f2;
}
.icon-brand241:before {
  content: "\ebdc";
}
.icon-brand242:before {
  content: "\ebdd";
  color: #3a98d9;
}
.icon-brand243:before {
  content: "\ebde";
  color: #008cdd;
}
.icon-brand244:before {
  content: "\ebdf";
  color: #003168;
}
.icon-brand245:before {
  content: "\ebe0";
  color: #eb4924;
}
.icon-brand246:before {
  content: "\ebe1";
}
.icon-brand247:before {
  content: "\ebe2";
  color: #809cc9;
}
.icon-brand248:before {
  content: "\ebe3";
  color: #2eace3;
}
.icon-brand249:before {
  content: "\ebe4";
  color: #fbb631;
}
.icon-brand250:before {
  content: "\ebe5";
  color: #e62b1e;
}
.icon-brand251:before {
  content: "\ebe6";
  color: #39ace6;
}
.icon-brand252:before {
  content: "\ebe7";
  color: #2ca5e0;
}
.icon-brand253:before {
  content: "\ebe8";
  color: #12b7f5;
}
.icon-brand254:before {
  content: "\ebe9";
  color: #c00;
}
.icon-brand255:before {
  content: "\ebea";
  color: #ff6b6b;
}
.icon-brand256:before {
  content: "\ebeb";
  color: #c5000b;
}
.icon-brand257:before {
  content: "\ebec";
  color: #29a8e0;
}
.icon-brand258:before {
  content: "\ebed";
  color: #3863a0;
}
.icon-brand259:before {
  content: "\ebee";
  color: #ed1c24;
}
.icon-brand260:before {
  content: "\ebef";
  color: #39a85b;
}
.icon-brand261:before {
  content: "\ebf0";
  color: #5fcf80;
}
.icon-brand262:before {
  content: "\ebf1";
  color: #0079bf;
}
.icon-brand263:before {
  content: "\ebf2";
  color: #589442;
}
.icon-brand264:before {
  content: "\ebf3";
  color: #53b50a;
}
.icon-brand265:before {
  content: "\ebf4";
  color: #36465d;
}
.icon-brand266:before {
  content: "\ebf5";
  color: #f22f46;
}
.icon-brand267:before {
  content: "\ebf6";
  color: #6441a5;
}
.icon-brand268:before {
  content: "\ebf7";
  color: #1da1f2;
}
.icon-brand269:before {
  content: "\ebf8";
  color: #ff7102;
}
.icon-brand270:before {
  content: "\ebf9";
}
.icon-brand271:before {
  content: "\ebfa";
  color: #dd4814;
}
.icon-brand272:before {
  content: "\ebfb";
  color: #01b3e3;
}
.icon-brand273:before {
  content: "\ebfc";
  color: #2396f3;
}
.icon-brand274:before {
  content: "\ebfd";
  color: #6fda44;
}
.icon-brand275:before {
  content: "\ebfe";
  color: #f88d2d;
}
.icon-brand276:before {
  content: "\ebff";
  color: #7c529e;
}
.icon-brand277:before {
  content: "\ec00";
  color: #1ab7ea;
}
.icon-brand278:before {
  content: "\ec01";
  color: #11b48a;
}
.icon-brand279:before {
  content: "\ec02";
  color: #0093da;
}
.icon-brand280:before {
  content: "\ec03";
  color: #142787;
}
.icon-brand281:before {
  content: "\ec04";
  color: #6383a8;
}
.icon-brand282:before {
  content: "\ec05";
  color: #4fc08d;
}
.icon-brand283:before {
  content: "\ec06";
  color: #7bb32e;
}
.icon-brand284:before {
  content: "\ec07";
  color: #25d366;
}
.icon-brand285:before {
  content: "\ec08";
}
.icon-brand286:before {
  content: "\ec09";
  color: #0078d6;
}
.icon-brand287:before {
  content: "\ec0a";
}
.icon-brand288:before {
  content: "\ec0b";
  color: #ffc233;
}
.icon-brand289:before {
  content: "\ec0c";
  color: #21759b;
}
.icon-brand290:before {
  content: "\ec0d";
  color: #107c10;
}
.icon-brand291:before {
  content: "\ec0e";
  color: #13b5ea;
}
.icon-brand292:before {
  content: "\ec0f";
  color: #005a5f;
}
.icon-brand293:before {
  content: "\ec10";
  color: #409;
}
.icon-brand294:before {
  content: "\ec11";
  color: #0072c6;
}
.icon-brand295:before {
  content: "\ec12";
  color: #f0652f;
}
.icon-brand296:before {
  content: "\ec13";
  color: #c41200;
}
.icon-brand297:before {
  content: "\ec14";
  color: #cd201f;
}
.icon-brand298:before {
  content: "\ec15";
  color: #ff4a00;
}
.icon-brand299:before {
  content: "\ec16";
}
.icon-brand300:before {
  content: "\ec17";
}
.icon-brand301:before {
  content: "\ec18";
  color: #0074e4;
}
.icon-chanson_logo:before {
  content: "\e900";
}
.icon-alert:before {
  content: "\f02d";
}
.icon-alignment-align:before {
  content: "\f08a";
}
.icon-alignment-aligned-to:before {
  content: "\f08e";
}
.icon-alignment-unalign:before {
  content: "\f08b";
}
.icon-arrow-down3:before {
  content: "\f03f";
}
.icon-arrow-left3:before {
  content: "\f040";
}
.icon-arrow-right3:before {
  content: "\f03e";
}
.icon-arrow-small-down:before {
  content: "\f0a0";
}
.icon-arrow-small-left:before {
  content: "\f0a1";
}
.icon-arrow-small-right:before {
  content: "\f071";
}
.icon-arrow-small-up:before {
  content: "\f09f";
}
.icon-arrow-up3:before {
  content: "\f03d";
}
.icon-beer:before {
  content: "\f069";
}
.icon-book2:before {
  content: "\f007";
}
.icon-bookmark2:before {
  content: "\f07b";
}
.icon-briefcase2:before {
  content: "\f0d3";
}
.icon-broadcast:before {
  content: "\f048";
}
.icon-browser:before {
  content: "\f0c5";
}
.icon-bug2:before {
  content: "\f091";
}
.icon-calendar2:before {
  content: "\f068";
}
.icon-check:before {
  content: "\f03a";
}
.icon-checklist:before {
  content: "\f076";
}
.icon-chevron-down:before {
  content: "\f0a3";
}
.icon-chevron-left:before {
  content: "\f0a4";
}
.icon-chevron-right:before {
  content: "\f078";
}
.icon-chevron-up:before {
  content: "\f0a2";
}
.icon-circle-slash:before {
  content: "\f084";
}
.icon-circuit-board:before {
  content: "\f0d6";
}
.icon-clippy:before {
  content: "\f035";
}
.icon-clock3:before {
  content: "\f046";
}
.icon-cloud-download2:before {
  content: "\f00b";
}
.icon-cloud-upload2:before {
  content: "\f00c";
}
.icon-code:before {
  content: "\f05f";
}
.icon-color-mode:before {
  content: "\f065";
}
.icon-comment:before {
  content: "\f02b";
}
.icon-comment-discussion:before {
  content: "\f04f";
}
.icon-credit-card2:before {
  content: "\f045";
}
.icon-dash:before {
  content: "\f0ca";
}
.icon-dashboard:before {
  content: "\f07d";
}
.icon-database2:before {
  content: "\f096";
}
.icon-device-camera:before {
  content: "\f056";
}
.icon-device-camera-video:before {
  content: "\f057";
}
.icon-device-desktop:before {
  content: "\f27c";
}
.icon-device-mobile:before {
  content: "\f038";
}
.icon-diff:before {
  content: "\f04d";
}
.icon-diff-added:before {
  content: "\f06b";
}
.icon-diff-ignored:before {
  content: "\f099";
}
.icon-diff-modified:before {
  content: "\f06d";
}
.icon-diff-removed:before {
  content: "\f06c";
}
.icon-diff-renamed:before {
  content: "\f06e";
}
.icon-ellipsis:before {
  content: "\f09a";
}
.icon-eye2:before {
  content: "\f04e";
}
.icon-file-binary:before {
  content: "\f094";
}
.icon-file-code:before {
  content: "\f010";
}
.icon-file-directory:before {
  content: "\f016";
}
.icon-file-media:before {
  content: "\f012";
}
.icon-file-pdf2:before {
  content: "\f014";
}
.icon-file-submodule:before {
  content: "\f017";
}
.icon-file-symlink-directory:before {
  content: "\f0b1";
}
.icon-file-symlink-file:before {
  content: "\f0b0";
}
.icon-file-text3:before {
  content: "\f011";
}
.icon-file-zip2:before {
  content: "\f013";
}
.icon-flame:before {
  content: "\f0d2";
}
.icon-fold:before {
  content: "\f0cc";
}
.icon-gear:before {
  content: "\f02f";
}
.icon-gift2:before {
  content: "\f042";
}
.icon-gist:before {
  content: "\f00e";
}
.icon-gist-secret:before {
  content: "\f08c";
}
.icon-git-branch:before {
  content: "\f020";
}
.icon-git-commit:before {
  content: "\f01f";
}
.icon-git-compare:before {
  content: "\f0ac";
}
.icon-git-merge:before {
  content: "\f023";
}
.icon-git-pull-request:before {
  content: "\f009";
}
.icon-globe:before {
  content: "\f0b6";
}
.icon-graph:before {
  content: "\f043";
}
.icon-heart2:before {
  content: "\2665";
}
.icon-history2:before {
  content: "\f07e";
}
.icon-home4:before {
  content: "\f08d";
}
.icon-horizontal-rule:before {
  content: "\f070";
}
.icon-hourglass:before {
  content: "\f09e";
}
.icon-hubot:before {
  content: "\f09d";
}
.icon-inbox:before {
  content: "\f0cf";
}
.icon-info2:before {
  content: "\f059";
}
.icon-issue-closed:before {
  content: "\f028";
}
.icon-issue-opened:before {
  content: "\f026";
}
.icon-issue-reopened:before {
  content: "\f027";
}
.icon-jersey:before {
  content: "\f019";
}
.icon-jump-down:before {
  content: "\f072";
}
.icon-jump-left:before {
  content: "\f0a5";
}
.icon-jump-right:before {
  content: "\f0a6";
}
.icon-jump-up:before {
  content: "\f073";
}
.icon-key3:before {
  content: "\f049";
}
.icon-keyboard2:before {
  content: "\f00d";
}
.icon-law:before {
  content: "\f0d8";
}
.icon-light-bulb:before {
  content: "\f000";
}
.icon-link2:before {
  content: "\f05c";
}
.icon-link-external:before {
  content: "\f07f";
}
.icon-list-ordered:before {
  content: "\f062";
}
.icon-list-unordered:before {
  content: "\f061";
}
.icon-location3:before {
  content: "\f060";
}
.icon-lock2:before {
  content: "\f06a";
}
.icon-logo-github:before {
  content: "\f092";
}
.icon-mail5:before {
  content: "\f03b";
}
.icon-mail-read:before {
  content: "\f03c";
}
.icon-mail-reply:before {
  content: "\f051";
}
.icon-mark-github:before {
  content: "\f00a";
}
.icon-markdown:before {
  content: "\f0c9";
}
.icon-megaphone:before {
  content: "\f077";
}
.icon-mention:before {
  content: "\f0be";
}
.icon-microscope:before {
  content: "\f089";
}
.icon-milestone:before {
  content: "\f075";
}
.icon-mirror:before {
  content: "\f024";
}
.icon-mortar-board:before {
  content: "\f0d7";
}
.icon-move-down2:before {
  content: "\f0a8";
}
.icon-move-left:before {
  content: "\f074";
}
.icon-move-right:before {
  content: "\f0a9";
}
.icon-move-up2:before {
  content: "\f0a7";
}
.icon-mute:before {
  content: "\f080";
}
.icon-no-newline:before {
  content: "\f09c";
}
.icon-octoface:before {
  content: "\f008";
}
.icon-organization:before {
  content: "\f037";
}
.icon-package:before {
  content: "\f0c4";
}
.icon-paintcan:before {
  content: "\f0d1";
}
.icon-pencil3:before {
  content: "\f058";
}
.icon-person:before {
  content: "\f018";
}
.icon-pin:before {
  content: "\f041";
}
.icon-playback-fast-forward:before {
  content: "\f0bd";
}
.icon-playback-pause:before {
  content: "\f0bb";
}
.icon-playback-play:before {
  content: "\f0bf";
}
.icon-playback-rewind:before {
  content: "\f0bc";
}
.icon-plug:before {
  content: "\f0d4";
}
.icon-plus2:before {
  content: "\f05d";
}
.icon-podium:before {
  content: "\f0af";
}
.icon-primitive-dot:before {
  content: "\f052";
}
.icon-primitive-square:before {
  content: "\f053";
}
.icon-pulse:before {
  content: "\f085";
}
.icon-puzzle:before {
  content: "\f0c0";
}
.icon-question2:before {
  content: "\f02c";
}
.icon-quote:before {
  content: "\f063";
}
.icon-radio-tower:before {
  content: "\f030";
}
.icon-repo:before {
  content: "\f001";
}
.icon-repo-clone:before {
  content: "\f04c";
}
.icon-repo-force-push:before {
  content: "\f04a";
}
.icon-repo-forked:before {
  content: "\f002";
}
.icon-repo-pull:before {
  content: "\f006";
}
.icon-repo-push:before {
  content: "\f005";
}
.icon-rocket2:before {
  content: "\f033";
}
.icon-rss3:before {
  content: "\f034";
}
.icon-ruby:before {
  content: "\f047";
}
.icon-screen-full:before {
  content: "\f066";
}
.icon-screen-normal:before {
  content: "\f067";
}
.icon-search2:before {
  content: "\f02e";
}
.icon-server:before {
  content: "\f097";
}
.icon-settings:before {
  content: "\f07c";
}
.icon-sign-in:before {
  content: "\f036";
}
.icon-sign-out:before {
  content: "\f032";
}
.icon-split:before {
  content: "\f0c6";
}
.icon-squirrel:before {
  content: "\f0b2";
}
.icon-star:before {
  content: "\f02a";
}
.icon-steps:before {
  content: "\f0c7";
}
.icon-stop3:before {
  content: "\f08f";
}
.icon-sync:before {
  content: "\f087";
}
.icon-tag:before {
  content: "\f015";
}
.icon-telescope:before {
  content: "\f088";
}
.icon-terminal2:before {
  content: "\f0c8";
}
.icon-three-bars:before {
  content: "\f05e";
}
.icon-tools:before {
  content: "\f031";
}
.icon-trashcan:before {
  content: "\f0d0";
}
.icon-triangle-down:before {
  content: "\f05b";
}
.icon-triangle-left:before {
  content: "\f044";
}
.icon-triangle-right:before {
  content: "\f05a";
}
.icon-triangle-up:before {
  content: "\f0aa";
}
.icon-unfold:before {
  content: "\f039";
}
.icon-unmute:before {
  content: "\f0ba";
}
.icon-versions:before {
  content: "\f064";
}
.icon-x:before {
  content: "\f081";
}
.icon-zap:before {
  content: "\26a1";
}
.icon-home:before {
  content: "\e901";
}
.icon-home2:before {
  content: "\e902";
}
.icon-home3:before {
  content: "\e903";
}
.icon-office:before {
  content: "\e904";
}
.icon-newspaper:before {
  content: "\e905";
}
.icon-pencil:before {
  content: "\e906";
}
.icon-pencil2:before {
  content: "\e907";
}
.icon-quill:before {
  content: "\e908";
}
.icon-pen:before {
  content: "\e909";
}
.icon-blog:before {
  content: "\e90a";
}
.icon-eyedropper:before {
  content: "\e90b";
}
.icon-droplet:before {
  content: "\e90c";
}
.icon-paint-format:before {
  content: "\e90d";
}
.icon-image:before {
  content: "\e90e";
}
.icon-images:before {
  content: "\e90f";
}
.icon-camera:before {
  content: "\e910";
}
.icon-headphones:before {
  content: "\e911";
}
.icon-music:before {
  content: "\e912";
}
.icon-play:before {
  content: "\e913";
}
.icon-film:before {
  content: "\e914";
}
.icon-video-camera:before {
  content: "\e915";
}
.icon-dice:before {
  content: "\e916";
}
.icon-pacman:before {
  content: "\e917";
}
.icon-spades:before {
  content: "\e918";
}
.icon-clubs:before {
  content: "\e919";
}
.icon-diamonds:before {
  content: "\e91a";
}
.icon-bullhorn:before {
  content: "\e91b";
}
.icon-connection:before {
  content: "\e91c";
}
.icon-podcast:before {
  content: "\e91d";
}
.icon-feed:before {
  content: "\e91e";
}
.icon-mic:before {
  content: "\e91f";
}
.icon-book:before {
  content: "\e920";
}
.icon-books:before {
  content: "\e921";
}
.icon-library:before {
  content: "\e922";
}
.icon-file-text:before {
  content: "\e923";
}
.icon-profile:before {
  content: "\e924";
}
.icon-file-empty:before {
  content: "\e925";
}
.icon-files-empty:before {
  content: "\e926";
}
.icon-file-text2:before {
  content: "\e927";
}
.icon-file-picture:before {
  content: "\e928";
}
.icon-file-music:before {
  content: "\e929";
}
.icon-file-play:before {
  content: "\e92a";
}
.icon-file-video:before {
  content: "\e92b";
}
.icon-file-zip:before {
  content: "\e92c";
}
.icon-copy:before {
  content: "\e92d";
}
.icon-paste:before {
  content: "\e92e";
}
.icon-stack:before {
  content: "\e92f";
}
.icon-folder:before {
  content: "\e930";
}
.icon-folder-open:before {
  content: "\e931";
}
.icon-folder-plus:before {
  content: "\e932";
}
.icon-folder-minus:before {
  content: "\e933";
}
.icon-folder-download:before {
  content: "\e934";
}
.icon-folder-upload:before {
  content: "\e935";
}
.icon-price-tag:before {
  content: "\e936";
}
.icon-price-tags:before {
  content: "\e937";
}
.icon-barcode:before {
  content: "\e938";
}
.icon-qrcode:before {
  content: "\e939";
}
.icon-ticket:before {
  content: "\e93a";
}
.icon-cart:before {
  content: "\e93b";
}
.icon-coin-dollar:before {
  content: "\e93c";
}
.icon-coin-euro:before {
  content: "\e93d";
}
.icon-coin-pound:before {
  content: "\e93e";
}
.icon-coin-yen:before {
  content: "\e93f";
}
.icon-credit-card:before {
  content: "\e940";
}
.icon-calculator:before {
  content: "\e941";
}
.icon-lifebuoy:before {
  content: "\e942";
}
.icon-phone:before {
  content: "\e943";
}
.icon-phone-hang-up:before {
  content: "\e944";
}
.icon-address-book:before {
  content: "\e945";
}
.icon-envelop:before {
  content: "\e946";
}
.icon-pushpin:before {
  content: "\e947";
}
.icon-location:before {
  content: "\e948";
}
.icon-location2:before {
  content: "\e949";
}
.icon-compass:before {
  content: "\e94a";
}
.icon-compass2:before {
  content: "\e94b";
}
.icon-map:before {
  content: "\e94c";
}
.icon-map2:before {
  content: "\e94d";
}
.icon-history:before {
  content: "\e94e";
}
.icon-clock:before {
  content: "\e94f";
}
.icon-clock2:before {
  content: "\e950";
}
.icon-alarm:before {
  content: "\e951";
}
.icon-bell:before {
  content: "\e952";
}
.icon-stopwatch:before {
  content: "\e953";
}
.icon-calendar:before {
  content: "\e954";
}
.icon-printer:before {
  content: "\e955";
}
.icon-keyboard:before {
  content: "\e956";
}
.icon-display:before {
  content: "\e957";
}
.icon-laptop:before {
  content: "\e958";
}
.icon-mobile:before {
  content: "\e959";
}
.icon-mobile2:before {
  content: "\e95a";
}
.icon-tablet:before {
  content: "\e95b";
}
.icon-tv:before {
  content: "\e95c";
}
.icon-drawer:before {
  content: "\e95d";
}
.icon-drawer2:before {
  content: "\e95e";
}
.icon-box-add:before {
  content: "\e95f";
}
.icon-box-remove:before {
  content: "\e960";
}
.icon-download:before {
  content: "\e961";
}
.icon-upload:before {
  content: "\e962";
}
.icon-floppy-disk:before {
  content: "\e963";
}
.icon-drive:before {
  content: "\e964";
}
.icon-database:before {
  content: "\e965";
}
.icon-undo:before {
  content: "\e966";
}
.icon-redo:before {
  content: "\e967";
}
.icon-undo2:before {
  content: "\e968";
}
.icon-redo2:before {
  content: "\e969";
}
.icon-forward:before {
  content: "\e96a";
}
.icon-reply:before {
  content: "\e96b";
}
.icon-bubble:before {
  content: "\e96c";
}
.icon-bubbles:before {
  content: "\e96d";
}
.icon-bubbles2:before {
  content: "\e96e";
}
.icon-bubble2:before {
  content: "\e96f";
}
.icon-bubbles3:before {
  content: "\e970";
}
.icon-bubbles4:before {
  content: "\e971";
}
.icon-user:before {
  content: "\e972";
}
.icon-users:before {
  content: "\e973";
}
.icon-user-plus:before {
  content: "\e974";
}
.icon-user-minus:before {
  content: "\e975";
}
.icon-user-check:before {
  content: "\e976";
}
.icon-user-tie:before {
  content: "\e977";
}
.icon-quotes-left:before {
  content: "\e978";
}
.icon-quotes-right:before {
  content: "\e979";
}
.icon-hour-glass:before {
  content: "\e97a";
}
.icon-spinner:before {
  content: "\e97b";
}
.icon-spinner2:before {
  content: "\e97c";
}
.icon-spinner3:before {
  content: "\e97d";
}
.icon-spinner4:before {
  content: "\e97e";
}
.icon-spinner5:before {
  content: "\e97f";
}
.icon-spinner6:before {
  content: "\e980";
}
.icon-spinner7:before {
  content: "\e981";
}
.icon-spinner8:before {
  content: "\e982";
}
.icon-spinner9:before {
  content: "\e983";
}
.icon-spinner10:before {
  content: "\e984";
}
.icon-spinner11:before {
  content: "\e985";
}
.icon-binoculars:before {
  content: "\e986";
}
.icon-search:before {
  content: "\e987";
}
.icon-zoom-in:before {
  content: "\e988";
}
.icon-zoom-out:before {
  content: "\e989";
}
.icon-enlarge:before {
  content: "\e98a";
}
.icon-shrink:before {
  content: "\e98b";
}
.icon-enlarge2:before {
  content: "\e98c";
}
.icon-shrink2:before {
  content: "\e98d";
}
.icon-key:before {
  content: "\e98e";
}
.icon-key2:before {
  content: "\e98f";
}
.icon-lock:before {
  content: "\e990";
}
.icon-unlocked:before {
  content: "\e991";
}
.icon-wrench:before {
  content: "\e992";
}
.icon-equalizer:before {
  content: "\e993";
}
.icon-equalizer2:before {
  content: "\e994";
}
.icon-cog:before {
  content: "\e995";
}
.icon-cogs:before {
  content: "\e996";
}
.icon-hammer:before {
  content: "\e997";
}
.icon-magic-wand:before {
  content: "\e998";
}
.icon-aid-kit:before {
  content: "\e999";
}
.icon-bug:before {
  content: "\e99a";
}
.icon-pie-chart:before {
  content: "\e99b";
}
.icon-stats-dots:before {
  content: "\e99c";
}
.icon-stats-bars:before {
  content: "\e99d";
}
.icon-stats-bars2:before {
  content: "\e99e";
}
.icon-trophy:before {
  content: "\e99f";
}
.icon-gift:before {
  content: "\e9a0";
}
.icon-glass:before {
  content: "\e9a1";
}
.icon-glass2:before {
  content: "\e9a2";
}
.icon-mug:before {
  content: "\e9a3";
}
.icon-spoon-knife:before {
  content: "\e9a4";
}
.icon-leaf:before {
  content: "\e9a5";
}
.icon-rocket:before {
  content: "\e9a6";
}
.icon-meter:before {
  content: "\e9a7";
}
.icon-meter2:before {
  content: "\e9a8";
}
.icon-hammer2:before {
  content: "\e9a9";
}
.icon-fire:before {
  content: "\e9aa";
}
.icon-lab:before {
  content: "\e9ab";
}
.icon-magnet:before {
  content: "\e9ac";
}
.icon-bin:before {
  content: "\e9ad";
}
.icon-bin2:before {
  content: "\e9ae";
}
.icon-briefcase:before {
  content: "\e9af";
}
.icon-airplane:before {
  content: "\e9b0";
}
.icon-truck:before {
  content: "\e9b1";
}
.icon-road:before {
  content: "\e9b2";
}
.icon-accessibility:before {
  content: "\e9b3";
}
.icon-target:before {
  content: "\e9b4";
}
.icon-shield:before {
  content: "\e9b5";
}
.icon-power:before {
  content: "\e9b6";
}
.icon-switch:before {
  content: "\e9b7";
}
.icon-power-cord:before {
  content: "\e9b8";
}
.icon-clipboard:before {
  content: "\e9b9";
}
.icon-list-numbered:before {
  content: "\e9ba";
}
.icon-list:before {
  content: "\e9bb";
}
.icon-list2:before {
  content: "\e9bc";
}
.icon-tree:before {
  content: "\e9bd";
}
.icon-menu:before {
  content: "\e9be";
}
.icon-menu2:before {
  content: "\e9bf";
}
.icon-menu3:before {
  content: "\e9c0";
}
.icon-menu4:before {
  content: "\e9c1";
}
.icon-cloud:before {
  content: "\e9c2";
}
.icon-cloud-download:before {
  content: "\e9c3";
}
.icon-cloud-upload:before {
  content: "\e9c4";
}
.icon-cloud-check:before {
  content: "\e9c5";
}
.icon-download2:before {
  content: "\e9c6";
}
.icon-upload2:before {
  content: "\e9c7";
}
.icon-download3:before {
  content: "\e9c8";
}
.icon-upload3:before {
  content: "\e9c9";
}
.icon-sphere:before {
  content: "\e9ca";
}
.icon-earth:before {
  content: "\e9cb";
}
.icon-link:before {
  content: "\e9cc";
}
.icon-flag:before {
  content: "\e9cd";
}
.icon-attachment:before {
  content: "\e9ce";
}
.icon-eye:before {
  content: "\e9cf";
}
.icon-eye-plus:before {
  content: "\e9d0";
}
.icon-eye-minus:before {
  content: "\e9d1";
}
.icon-eye-blocked:before {
  content: "\e9d2";
}
.icon-bookmark:before {
  content: "\e9d3";
}
.icon-bookmarks:before {
  content: "\e9d4";
}
.icon-sun:before {
  content: "\e9d5";
}
.icon-contrast:before {
  content: "\e9d6";
}
.icon-brightness-contrast:before {
  content: "\e9d7";
}
.icon-star-empty:before {
  content: "\e9d8";
}
.icon-star-half:before {
  content: "\e9d9";
}
.icon-star-full:before {
  content: "\e9da";
}
.icon-heart:before {
  content: "\e9db";
}
.icon-heart-broken:before {
  content: "\e9dc";
}
.icon-man:before {
  content: "\e9dd";
}
.icon-woman:before {
  content: "\e9de";
}
.icon-man-woman:before {
  content: "\e9df";
}
.icon-happy:before {
  content: "\e9e0";
}
.icon-happy2:before {
  content: "\e9e1";
}
.icon-smile:before {
  content: "\e9e2";
}
.icon-smile2:before {
  content: "\e9e3";
}
.icon-tongue:before {
  content: "\e9e4";
}
.icon-tongue2:before {
  content: "\e9e5";
}
.icon-sad:before {
  content: "\e9e6";
}
.icon-sad2:before {
  content: "\e9e7";
}
.icon-wink:before {
  content: "\e9e8";
}
.icon-wink2:before {
  content: "\e9e9";
}
.icon-grin:before {
  content: "\e9ea";
}
.icon-grin2:before {
  content: "\e9eb";
}
.icon-cool:before {
  content: "\e9ec";
}
.icon-cool2:before {
  content: "\e9ed";
}
.icon-angry:before {
  content: "\e9ee";
}
.icon-angry2:before {
  content: "\e9ef";
}
.icon-evil:before {
  content: "\e9f0";
}
.icon-evil2:before {
  content: "\e9f1";
}
.icon-shocked:before {
  content: "\e9f2";
}
.icon-shocked2:before {
  content: "\e9f3";
}
.icon-baffled:before {
  content: "\e9f4";
}
.icon-baffled2:before {
  content: "\e9f5";
}
.icon-confused:before {
  content: "\e9f6";
}
.icon-confused2:before {
  content: "\e9f7";
}
.icon-neutral:before {
  content: "\e9f8";
}
.icon-neutral2:before {
  content: "\e9f9";
}
.icon-hipster:before {
  content: "\e9fa";
}
.icon-hipster2:before {
  content: "\e9fb";
}
.icon-wondering:before {
  content: "\e9fc";
}
.icon-wondering2:before {
  content: "\e9fd";
}
.icon-sleepy:before {
  content: "\e9fe";
}
.icon-sleepy2:before {
  content: "\e9ff";
}
.icon-frustrated:before {
  content: "\ea00";
}
.icon-frustrated2:before {
  content: "\ea01";
}
.icon-crying:before {
  content: "\ea02";
}
.icon-crying2:before {
  content: "\ea03";
}
.icon-point-up:before {
  content: "\ea04";
}
.icon-point-right:before {
  content: "\ea05";
}
.icon-point-down:before {
  content: "\ea06";
}
.icon-point-left:before {
  content: "\ea07";
}
.icon-warning:before {
  content: "\ea08";
}
.icon-notification:before {
  content: "\ea09";
}
.icon-question:before {
  content: "\ea0a";
}
.icon-plus:before {
  content: "\ea0b";
}
.icon-minus:before {
  content: "\ea0c";
}
.icon-info:before {
  content: "\ea0d";
}
.icon-cancel-circle:before {
  content: "\ea0e";
}
.icon-blocked:before {
  content: "\ea0f";
}
.icon-cross:before {
  content: "\ea10";
}
.icon-checkmark:before {
  content: "\ea11";
}
.icon-checkmark2:before {
  content: "\ea12";
}
.icon-spell-check:before {
  content: "\ea13";
}
.icon-enter:before {
  content: "\ea14";
}
.icon-exit:before {
  content: "\ea15";
}
.icon-play2:before {
  content: "\ea16";
}
.icon-pause:before {
  content: "\ea17";
}
.icon-stop:before {
  content: "\ea18";
}
.icon-previous:before {
  content: "\ea19";
}
.icon-next:before {
  content: "\ea1a";
}
.icon-backward:before {
  content: "\ea1b";
}
.icon-forward2:before {
  content: "\ea1c";
}
.icon-play3:before {
  content: "\ea1d";
}
.icon-pause2:before {
  content: "\ea1e";
}
.icon-stop2:before {
  content: "\ea1f";
}
.icon-backward2:before {
  content: "\ea20";
}
.icon-forward3:before {
  content: "\ea21";
}
.icon-first:before {
  content: "\ea22";
}
.icon-last:before {
  content: "\ea23";
}
.icon-previous2:before {
  content: "\ea24";
}
.icon-next2:before {
  content: "\ea25";
}
.icon-eject:before {
  content: "\ea26";
}
.icon-volume-high:before {
  content: "\ea27";
}
.icon-volume-medium:before {
  content: "\ea28";
}
.icon-volume-low:before {
  content: "\ea29";
}
.icon-volume-mute:before {
  content: "\ea2a";
}
.icon-volume-mute2:before {
  content: "\ea2b";
}
.icon-volume-increase:before {
  content: "\ea2c";
}
.icon-volume-decrease:before {
  content: "\ea2d";
}
.icon-loop:before {
  content: "\ea2e";
}
.icon-loop2:before {
  content: "\ea2f";
}
.icon-infinite:before {
  content: "\ea30";
}
.icon-shuffle:before {
  content: "\ea31";
}
.icon-arrow-up-left:before {
  content: "\ea32";
}
.icon-arrow-up:before {
  content: "\ea33";
}
.icon-arrow-up-right:before {
  content: "\ea34";
}
.icon-arrow-right:before {
  content: "\ea35";
}
.icon-arrow-down-right:before {
  content: "\ea36";
}
.icon-arrow-down:before {
  content: "\ea37";
}
.icon-arrow-down-left:before {
  content: "\ea38";
}
.icon-arrow-left:before {
  content: "\ea39";
}
.icon-arrow-up-left2:before {
  content: "\ea3a";
}
.icon-arrow-up2:before {
  content: "\ea3b";
}
.icon-arrow-up-right2:before {
  content: "\ea3c";
}
.icon-arrow-right2:before {
  content: "\ea3d";
}
.icon-arrow-down-right2:before {
  content: "\ea3e";
}
.icon-arrow-down2:before {
  content: "\ea3f";
}
.icon-arrow-down-left2:before {
  content: "\ea40";
}
.icon-arrow-left2:before {
  content: "\ea41";
}
.icon-circle-up:before {
  content: "\ea42";
}
.icon-circle-right:before {
  content: "\ea43";
}
.icon-circle-down:before {
  content: "\ea44";
}
.icon-circle-left:before {
  content: "\ea45";
}
.icon-tab:before {
  content: "\ea46";
}
.icon-move-up:before {
  content: "\ea47";
}
.icon-move-down:before {
  content: "\ea48";
}
.icon-sort-alpha-asc:before {
  content: "\ea49";
}
.icon-sort-alpha-desc:before {
  content: "\ea4a";
}
.icon-sort-numeric-asc:before {
  content: "\ea4b";
}
.icon-sort-numberic-desc:before {
  content: "\ea4c";
}
.icon-sort-amount-asc:before {
  content: "\ea4d";
}
.icon-sort-amount-desc:before {
  content: "\ea4e";
}
.icon-command:before {
  content: "\ea4f";
}
.icon-shift:before {
  content: "\ea50";
}
.icon-ctrl:before {
  content: "\ea51";
}
.icon-opt:before {
  content: "\ea52";
}
.icon-checkbox-checked:before {
  content: "\ea53";
}
.icon-checkbox-unchecked:before {
  content: "\ea54";
}
.icon-radio-checked:before {
  content: "\ea55";
}
.icon-radio-checked2:before {
  content: "\ea56";
}
.icon-radio-unchecked:before {
  content: "\ea57";
}
.icon-crop:before {
  content: "\ea58";
}
.icon-make-group:before {
  content: "\ea59";
}
.icon-ungroup:before {
  content: "\ea5a";
}
.icon-scissors:before {
  content: "\ea5b";
}
.icon-filter:before {
  content: "\ea5c";
}
.icon-font:before {
  content: "\ea5d";
}
.icon-ligature:before {
  content: "\ea5e";
}
.icon-ligature2:before {
  content: "\ea5f";
}
.icon-text-height:before {
  content: "\ea60";
}
.icon-text-width:before {
  content: "\ea61";
}
.icon-font-size:before {
  content: "\ea62";
}
.icon-bold:before {
  content: "\ea63";
}
.icon-underline:before {
  content: "\ea64";
}
.icon-italic:before {
  content: "\ea65";
}
.icon-strikethrough:before {
  content: "\ea66";
}
.icon-omega:before {
  content: "\ea67";
}
.icon-sigma:before {
  content: "\ea68";
}
.icon-page-break:before {
  content: "\ea69";
}
.icon-superscript:before {
  content: "\ea6a";
}
.icon-subscript:before {
  content: "\ea6b";
}
.icon-superscript2:before {
  content: "\ea6c";
}
.icon-subscript2:before {
  content: "\ea6d";
}
.icon-text-color:before {
  content: "\ea6e";
}
.icon-pagebreak:before {
  content: "\ea6f";
}
.icon-clear-formatting:before {
  content: "\ea70";
}
.icon-table:before {
  content: "\ea71";
}
.icon-table2:before {
  content: "\ea72";
}
.icon-insert-template:before {
  content: "\ea73";
}
.icon-pilcrow:before {
  content: "\ea74";
}
.icon-ltr:before {
  content: "\ea75";
}
.icon-rtl:before {
  content: "\ea76";
}
.icon-section:before {
  content: "\ea77";
}
.icon-paragraph-left:before {
  content: "\ea78";
}
.icon-paragraph-center:before {
  content: "\ea79";
}
.icon-paragraph-right:before {
  content: "\ea7a";
}
.icon-paragraph-justify:before {
  content: "\ea7b";
}
.icon-indent-increase:before {
  content: "\ea7c";
}
.icon-indent-decrease:before {
  content: "\ea7d";
}
.icon-share:before {
  content: "\ea7e";
}
.icon-new-tab:before {
  content: "\ea7f";
}
.icon-embed:before {
  content: "\ea80";
}
.icon-embed2:before {
  content: "\ea81";
}
.icon-terminal:before {
  content: "\ea82";
}
.icon-share2:before {
  content: "\ea83";
}
.icon-mail:before {
  content: "\ea84";
}
.icon-mail2:before {
  content: "\ea85";
}
.icon-mail3:before {
  content: "\ea86";
}
.icon-mail4:before {
  content: "\ea87";
}
.icon-amazon:before {
  content: "\ea88";
}
.icon-google:before {
  content: "\ea89";
}
.icon-google2:before {
  content: "\ea8a";
}
.icon-google3:before {
  content: "\ea8b";
}
.icon-google-plus:before {
  content: "\ea8c";
}
.icon-google-plus2:before {
  content: "\ea8d";
}
.icon-google-plus3:before {
  content: "\ea8e";
}
.icon-hangouts:before {
  content: "\ea8f";
}
.icon-google-drive:before {
  content: "\ea90";
}
.icon-facebook:before {
  content: "\ea91";
}
.icon-facebook2:before {
  content: "\ea92";
}
.icon-instagram:before {
  content: "\ea93";
}
.icon-whatsapp:before {
  content: "\ea94";
}
.icon-spotify:before {
  content: "\ea95";
}
.icon-telegram:before {
  content: "\ea96";
}
.icon-twitter:before {
  content: "\ea97";
}
.icon-vine:before {
  content: "\ea98";
}
.icon-vk:before {
  content: "\ea99";
}
.icon-renren:before {
  content: "\ea9a";
}
.icon-sina-weibo:before {
  content: "\ea9b";
}
.icon-rss:before {
  content: "\ea9c";
}
.icon-rss2:before {
  content: "\ea9d";
}
.icon-youtube:before {
  content: "\ea9e";
}
.icon-youtube2:before {
  content: "\ea9f";
}
.icon-twitch:before {
  content: "\eaa0";
}
.icon-vimeo:before {
  content: "\eaa1";
}
.icon-vimeo2:before {
  content: "\eaa2";
}
.icon-lanyrd:before {
  content: "\eaa3";
}
.icon-flickr:before {
  content: "\eaa4";
}
.icon-flickr2:before {
  content: "\eaa5";
}
.icon-flickr3:before {
  content: "\eaa6";
}
.icon-flickr4:before {
  content: "\eaa7";
}
.icon-dribbble:before {
  content: "\eaa8";
}
.icon-behance:before {
  content: "\eaa9";
}
.icon-behance2:before {
  content: "\eaaa";
}
.icon-deviantart:before {
  content: "\eaab";
}
.icon-500px:before {
  content: "\eaac";
}
.icon-steam:before {
  content: "\eaad";
}
.icon-steam2:before {
  content: "\eaae";
}
.icon-dropbox:before {
  content: "\eaaf";
}
.icon-onedrive:before {
  content: "\eab0";
}
.icon-github:before {
  content: "\eab1";
}
.icon-npm:before {
  content: "\eab2";
}
.icon-basecamp:before {
  content: "\eab3";
}
.icon-trello:before {
  content: "\eab4";
}
.icon-wordpress:before {
  content: "\eab5";
}
.icon-joomla:before {
  content: "\eab6";
}
.icon-ello:before {
  content: "\eab7";
}
.icon-blogger:before {
  content: "\eab8";
}
.icon-blogger2:before {
  content: "\eab9";
}
.icon-tumblr:before {
  content: "\eaba";
}
.icon-tumblr2:before {
  content: "\eabb";
}
.icon-yahoo:before {
  content: "\eabc";
}
.icon-yahoo2:before {
  content: "\eabd";
}
.icon-tux:before {
  content: "\eabe";
}
.icon-appleinc:before {
  content: "\eabf";
}
.icon-finder:before {
  content: "\eac0";
}
.icon-android:before {
  content: "\eac1";
}
.icon-windows:before {
  content: "\eac2";
}
.icon-windows8:before {
  content: "\eac3";
}
.icon-soundcloud:before {
  content: "\eac4";
}
.icon-soundcloud2:before {
  content: "\eac5";
}
.icon-skype:before {
  content: "\eac6";
}
.icon-reddit:before {
  content: "\eac7";
}
.icon-hackernews:before {
  content: "\eac8";
}
.icon-wikipedia:before {
  content: "\eac9";
}
.icon-linkedin:before {
  content: "\eaca";
}
.icon-linkedin2:before {
  content: "\eacb";
}
.icon-lastfm:before {
  content: "\eacc";
}
.icon-lastfm2:before {
  content: "\eacd";
}
.icon-delicious:before {
  content: "\eace";
}
.icon-stumbleupon:before {
  content: "\eacf";
}
.icon-stumbleupon2:before {
  content: "\ead0";
}
.icon-stackoverflow:before {
  content: "\ead1";
}
.icon-pinterest:before {
  content: "\ead2";
}
.icon-pinterest2:before {
  content: "\ead3";
}
.icon-xing:before {
  content: "\ead4";
}
.icon-xing2:before {
  content: "\ead5";
}
.icon-flattr:before {
  content: "\ead6";
}
.icon-foursquare:before {
  content: "\ead7";
}
.icon-yelp:before {
  content: "\ead8";
}
.icon-paypal:before {
  content: "\ead9";
}
.icon-chrome:before {
  content: "\eada";
}
.icon-firefox:before {
  content: "\eadb";
}
.icon-IE:before {
  content: "\eadc";
}
.icon-edge:before {
  content: "\eadd";
}
.icon-safari:before {
  content: "\eade";
}
.icon-opera:before {
  content: "\eadf";
}
.icon-file-pdf:before {
  content: "\eae0";
}
.icon-file-openoffice:before {
  content: "\eae1";
}
.icon-file-word:before {
  content: "\eae2";
}
.icon-file-excel:before {
  content: "\eae3";
}
.icon-libreoffice:before {
  content: "\eae4";
}
.icon-html-five:before {
  content: "\eae5";
}
.icon-html-five2:before {
  content: "\eae6";
}
.icon-css3:before {
  content: "\eae7";
}
.icon-git:before {
  content: "\eae8";
}
.icon-codepen:before {
  content: "\eae9";
}
.icon-svg:before {
  content: "\eaea";
}
.icon-IcoMoon:before {
  content: "\eaeb";
}
